:root {
    --bg: black;
    --gr: #01ee00;
}

* {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--bg);
    color: var(--gr);
    font-family: monospace;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid var(--gr);
}

.time {
    font-weight: 900;
    font-size: 1rem;
}

.console {
    width: 100%;
    height: 80vh;
    border-bottom: 1px solid var(--gr);
    overflow-y: auto;
}

.console-panel {
    width: 100%;
    height: 95%;
    overflow-y: auto;
}

.console-user {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-input {
    width: 80%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: var(--gr);
}

input:focus {
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}